.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('https://i.pinimg.com/originals/6a/ef/ed/6aefedc09c7c38eead63ca952fb86c12.jpg');
  background-size: 100vw 100%;
  height: 100vh;
  /* width: 100%; */
  background-repeat: repeat-y;

  ;
}

header {
  background-color: rgb(24, 22, 22);
  width: 100%;
  height: 10vh;
}
.movie-display{
  display: flex;
  justify-content: center;
  align-items: center;

}
.map-movie{
  position: relative;
  top: 20px;
  left: 15vw;
  display: flex;
  overflow-x: scroll;
  /* overflow: scroll; */
  background-color: rgb(24, 22, 22);
  width: 70%;
  height: 300px;
  justify-content: flex-start;
  align-items: center;
  
}
.movie-map{
  margin: 0 10px;

}
img{
  margin: 5px;
  width: 180px;
  height: 250px; 
}
.movie-list{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fav-component{
display: flex;
justify-content: center;
align-items: center;
margin: 20px;
border: 5px;
border-style: inset;
border-color: blue;
width: 65vw;
}
.fav-movie-image{
  position: relative;
  left: 5px;
}
.movie-info{
  display: flex;
  flex-direction: column;
}
